body {
    width: 90%;
    margin: 0 auto;
    padding: 0;
}

.block-size-300 {
    width: 29px;
    height: 29px;
    float: left;
    border: 1px solid #000000;
}

.block-size-600 {
    width: 59px;
    height: 29px;
    float: left;
    border: 1px solid #000000;
}

.block-size-900 {
    width: 89px;
    height: 29px;
    float: left;
    border: 1px solid #000000;
}

.block-size-1200 {
    width: 119px;
    height: 29px;
    float: left;
    border: 1px solid #000000;
}

.color-300 {
    background-color: #985f0d;
}

.color-600 {
    background-color: #0044cc;
}

.color-900 {
    background-color: #8c5fcc;
}

.color-1200 {
    background-color: #ee5782;
}

.color-red{
    background-color: #ee171a;
}

#base-blocks {
    height: 50px;
    display: block;
    width: 100%;
    margin-bottom: 30px;
}

#base-blocks div {
    margin: 5px 20px;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    color: #c0c0c0;
}

.block-row td div {
    margin-right: -1px;
    margin-bottom: -1px;
}

.window {
    text-align: center;
    position: absolute;
    background-color: #8c8c8c;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
}

#select-max {
    margin-top: 20px;
}

.div-hide {
    display: none;
}

.div-show {
    display: block;
}